/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { 
	padding-top: 80px; 
	font-size: 0.9rem; 
}

@media (min-width: 1200px) {

	.container {
		max-width: 970px; 
	}
}